<nav class="container nav">
  <a href="%%LOGO_PATH%%" class="nav-logo">AVS</a>
  
  <div class="nav-menu">
    <a href="%%SHOP_PATH%%" class="nav-link">SHOP</a>
    
    <button id="open-cart-btn" class="nav-cart-btn" aria-label="Abrir carrinho">
      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path><line x1="3" y1="6" x2="21" y2="6"></line><path d="M16 10a4 4 0 0 1-8 0"></path></svg>
      
      <span id="cart-count-badge" class="cart-count-badge">0</span>
    </button>
  </div>
</nav>